.square{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
    background-color: black;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
li{
    list-style-type: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
body{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #061022;
}
.d-flex{
    display: flex;
    justify-content: space-around;
}
.container{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credit-card{
    display: flex;
}
li{
    list-style: none;
    margin-bottom: 5px;
}
.button{
    padding: 20px;
}
button{
    padding: 10px 50px ;
    border-radius: 10px;
}
.name-crypto{
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.square.card{
    padding: 50px;
}
.key{
    color: #3b5ea0;
}
.key::after{
    content: ":";
}
.back-square ul{
    position: relative;
    right: 70px;
}

/* hover */
.back-square{
    display: none;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
}
.square:hover .back-square{
    display: block;
}
.front-square{
    display: block;
    padding: 0 20px;
}
.square:hover .front-square{
    display: none;
}